input,button {
    
    width: 100px;
    margin-bottom: 3px;
    color:rgb(14, 13, 13);
    border: 2px solid #e37474;
    border-radius: 7px;
}
form {
    max-width: 700px;
    padding:2rem;
    background-color: aqua;
    border-radius: 9px;
}
button {
    background-color: rgb(177, 135, 216);
    color: rgb(112, 112, 26);
    cursor: pointer;
}
button:hover {
    background-color: chartreuse;
    color: black;
}