input[type="text"] 
 {
    border:5px solid rgb(184, 12, 12);
 }

  .dark {
    background-color: blue;
    color:aliceblue
  }  
  .id {
     white-space: nowrap;
     overflow: hidden;
     text-overflow: ellipsis;
  }
