:root {
    --bg-color:rgb(243, 141, 141);
    --color:rgb(36, 15, 15);
    --padding:1rem;
    --font-style:italic;
}
ul {
    background-color:var(--bg-color);
    padding:var(--padding);
    color:var(--color);
    font-style:var(--font-style);
}
article {
    background-color: var(--bg-color);
    font-style: var(--font-style);
}
@font-face {
    font-family: "ownfont";
    src: url(fonts/ownfont/woff2) format("woff2");
}
body {
    font-family: "ownfont",sans-serif;
}