/* For devices 600px or less */
@media (max-width: 600px) {
  body {
    background: lightblue;
  }
}

/* For devices 768px or more */
@media (min-width: 768px) {
  body {
    background: lightgreen;
  }
}

/* Between 600px and 1024px */
@media (min-width: 600px) and (max-width: 1024px) {
  body {
    background: lightpink;
  }
}