.item1,.item2,.parent {
    width: 100px;
    height: 50px;
    left: 200px;
    position: relative;
    font-size: 30px;
    text-align: center;
    border-radius: 5px;
    border: 2px solid black;
    margin-bottom: 30px;
}
.item1 {
        background-color: #f26e6e;
    /* transform: translate(300px); */
    /* transform: translateY(250px); */
    /* transform: translateZ(400px); */
    /* transform: scale(1.5); */
    /* transform: scaleX(0.5); */
    /* transform: scale3d(2); */
    /* transition: skewx(180deg); */
    /* transform: rotate(180deg); */
    transform: matrix(1,2,0.5,1,0);

}
.item2 {
    background-color: #f1fc19;
    transition: transform 2s ease-in-out;
}
.item2:hover {
    transform: scale(1.5);
}
.parent {
    background-color: greenyellow;
    transform-style: preserve-3d;
    transform: rotateY(45deg);
    perspective: 500px;
    
}
.child {
    width: 70px;
    height: 100px;
    background-color: #09bfe8;
    transform: rotateY(-45deg);
    border:2px solid black;
    border-radius: 5px;
    
}