.container {
    display: grid;
    grid-template-columns: auto auto auto auto ;
    background-color: #80d8f1;
    padding:10px;
    gap:10px;
}
.container>div {
    background-color: #fff;
    font-size: 30px;
    padding:10px;
    border: 1px solid black;
    text-align: center;
}
.item1 {
        /* grid-column: 1 /span 3; */
    grid-row: 1 /span 2;
}
.item3 {
     grid-column: 1 / span 2; 
}